<div class="containerChoose">
  <h1>Choose a package for your kid</h1>

  <div class="row">
    <div class="col-6">
      <label>
        <input type="radio" name="product" class="card-input-element" />
        <div class="card card-input">
          <div class="card-header">Preschool</div>
          <div class="card-body">
            Basic education for preschoolers.
          </div>
        </div>
      </label>
    </div>

    <div class="col-6">
      <label>
        <input type="radio" name="product" class="card-input-element" />
        <div class="card card-input">
          <div class="card-header">Primary School</div>
          <div class="card-body">
            Advanced education for primary school students.
          </div>
        </div>
      </label>
    </div>
  </div>
</div>