<div *ngIf="username"> 
    <app-profile></app-profile>
  </div>
  
  <div *ngIf="!username">
    <div class="container">
      <div class="transparent-container">
        <div class="col-lg-12 cardProfile  text-center">
          <h1 class="pt-4">Welcome!</h1>
          <img src="https://storage.googleapis.com/sticker-prod/k5Munc6RC0etp2SV8Qtp/0-1.thumb128.webp" alt="">
          <h2 class="pt-1">You don't have an Account yet.</h2>
          <h5 class="pt-4">Please complete your profile for more feature !</h5>
          
          <button class="mt-5 btn btn-dark" routerLink="/signin" >Complete Profile</button>
        </div>
      </div>
    </div>
  </div>