/* save */
.save-container {
  position: relative;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.sticky-center {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.transparent-container{
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 30px;
}


.save-card {
  width: 40vw;
  height: 55vh;
  background-color: rgb(202, 204, 253);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.save-card  h2{
  padding: 10px;
  color: rgb(87, 88, 134);
}

.save-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(186, 189, 252);
  border-radius: 0px 0px 20px 20px ;
  width: 40vw;
  height: 55vh;
}

.btn {
  align-self: flex-start;
  background-color: #ffffff;
  color: #494949;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  width: 100px;
  transition: 0.2s;
}

.btn:hover{
    background-color: #ececec;
    transition: 0.2s;
}

label{
    display: flex;
    font-size: 20px;
    margin: 10px;
}

input{
    padding: 0px 10px;
    border-radius: 10px;
    border: 0px;
    background-color: #ffffff;
}

textarea{
    padding: 0px 10px;
    border-radius: 10px;
    border: 0px;
    background-color: #ffffff;
    
    height: 15vh;
    min-height: 15vh;
    max-height: 15vh;
}

.btn-save {
    
    bottom: 25vh;
    color: #fff;
    padding: 10px 20px;
    background-color: #a1c554;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    align-self: center;
    width: 20%;
    transition: 0.2s;
  }

.btn-save:hover{
    transition: 0.2s;
    background-color: #90b148;
}
  
.close-button {
  color: #919191;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 45px;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.2s;
}

.close-button:hover {
  color: #656565;
  transition: 0.2s;
}


